<h1>Adminstrator Dashboard</h1>
<br>
<h2> Online Store Information </h2>
<div class="panel panel-default items">
  <table class="table table-bordered">
    <thread>
      <tr>
        <th>Amount of Products</th>
        <th>Amount of Product Categories</th>
      </tr>
      <tbody>
        <tr>
          <td><%= @product_count %></td>
          <td><%= @category_count %></td>
        </tr>
      </tbody>
    </thread>
  </table>
</div>
