<h1>About Our Store</h1>
<br>
<h4>
Our mission is to help find amazings new homes for our green pals! We want these plants to find their new owners who will take care of them as these plants will help in taking care of you!
Having green not only increase the Oxygen levels in your home but also become your pals that will help you during your toughest of days!
</h4>

<%= link_to "Start Shopping Now", root_path, class: 'btn btn-lg btn-primary' %> 